
.column {
    border-color: lightskyblue;
}

.row {
    border-color: lightgreen;
}

.center {
    border-color: lightsalmon;
}

.stack {
    border-color: mediumpurple;
}

.layout.stack > div {
    position: absolute;
}

.layout.padding {
    height: auto;
    min-height: 40px;
    width: auto;
    min-width: 40px;
}

.layout.carrouselslider {
    border-color: red;
}

.layout.base {
    background-color: white;
}

.layout.root {
    background-color: white !important;
    padding: 30px 0 0; /* safe zone */
    border: 0;
}

.layout {
    padding: 1px;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    height: 100%;
    cursor: pointer;
}

.hovered {
    filter: brightness(0.9);
}