
.column {
    border-color: lightskyblue;
}

.row {
    border-color: lightgreen;
}

.center {
    border-color: lightsalmon;
}

.layout.base {
    background-color: white;
}

.layout.root {
    background-color: white !important;
    padding: 30px 0 0; /* safe zone */
    border: 0;
}

.layout {
    padding: 1px;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    height: 100%;
    cursor: pointer;
}

.hovered {
    filter: brightness(0.9);
}