.phone {
    border: 5px solid #111111;
    background-color: white;
    border-radius: 50px;
    height: 812px !important;
    width: 375px !important;
    align-content: center;
    overflow: auto;
}

/*&:before,&:after {
              content: '';
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
          }
}

.notch {
    height: 45px;
    width: 218px;
    background: #1f1f1f;
    margin: auto;
    align-content: center;
    border-radius: 0px 0px 40px 40px;
    border-bottom: 5px solid #111111;
}

i,
b {
    position: absolute;
    display: block;
    color: transparent;
}

i {
    top: 10px;
    left: 50%;
    transform: translate(-50%, 6px);
    height: 8px;
    width: 15%;
    background-color: #101010;
    border-radius: 8px;
    box-shadow: inset 0px -3px 3px 0px rgba(256, 256, 256, 0.2);
}

.layout.root {
    padding-top: 0px !important;
    height: 762px !important;
}

b {
    left: 14%;
    top: 10px;
    transform: translate(180px, 4px);
    width: 12px;
    height: 12px;
    background-color: #101010;
    border-radius: 12px;
    box-shadow: inset 0px -3px 2px 0px rgba(256, 256, 256, 0.2);
}*/

.phone-h {
    height: 822px !important;
}

.phone-w {
    width: 385px !important;
}
