.phone {
    border: 5px solid #111111;
    background-color: white;
    border-radius: 50px;
    height: 812px !important;
    width: 375px !important;
    align-content: center;
    overflow: auto;
}

.phone-h {
    height: 822px !important;
}

.phone-w {
    width: 385px !important;
}