.new>label {
    cursor: pointer;
}

.new {
    position: absolute;
    right: 50px;
    bottom: 50px;
}

.new>label>img {
    width: 100px;
}

.new>img {
    width: 100px;
    cursor: pointer;
}

.new>input {
    display: none;
}