.widget-properties {
    background-color: #292929;
    font-size: 14px;
    height: 98vh;
    width: 32vh !important;
    padding: 2vh !important;
    right: 0;
}

.widget-properties.MuiGrid-root {
    position: fixed !important;
    top: 35px;
}

.widget-properties .MuiGrid-item {
    min-height: 45px;
}

.widget-properties .MuiInputBase-input {
    color: white !important;
}

.widget-properties .MuiOutlinedInput-input {
    padding: 6px 7px !important;
}

.widget-properties .GridSubheader-root {
    color: ghostwhite !important;
    font-size: 24px !important;
    font-weight: 600 !important;
}

.property-name-material {
    text-transform: capitalize;
    color: #8b8b8b !important;
}

.property-name-layout {
    text-transform: capitalize;
    color: #8b8b8b !important;
}

.widget-properties .MuiDivider-root {
    margin: 2px 0 !important;
}

#no-selection {
    height: 100%;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    background-color: #292929 !important;
}

.codelink-button {
    background-color: #242424 !important;
    color: #b3b3b3 !important;
}

#menu- > div.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
    background-color: #565656 !important;
    color: white;
    width: 150px;
    margin-top: 50px;
}
