.widget-properties {
    background-color: #292929;
    font-size: 14px;
    height: 98vh;
    width: 32vh !important;
    padding: 2vh !important;
    right: 0;
}

.widget-properties.MuiGrid-root {
    position: fixed !important;
    top: 35px;
}

.widget-properties .MuiFormControl-root.MuiTextField-root {
    width: 100% !important;
}

.widget-properties .MuiFormControl-root {
    width: 100% !important;
}

.widget-properties .MuiInputBase-input {
    color: white !important;
}

.widget-properties .MuiOutlinedInput-input {
    padding: 10px 8px !important;
}

.widget-properties .GridSubheader-root {
    color: ghostwhite !important;
    font-size: 24px !important;
    font-weight: 600 !important;
}

.widget-properties .GridSubheader-group {
    color: ghostwhite !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    cursor: pointer;
}

.property-name-material {
    text-transform: capitalize;
    color: #8b8b8b !important;
    margin-bottom: 5px;
}

.property-name-layout {
    text-transform: capitalize;
    color: #8b8b8b !important;
    margin-bottom: 5px;
}

.widget-properties .property-item {
    margin: 10px 0 !important;
    min-height: 45px;
}

.widget-properties .property-item-name {
    margin: 15px 0 !important;
}

#no-selection {
    height: 100%;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    background-color: #292929 !important;
}

.codelink-button {
    background-color: #242424 !important;
    color: #b3b3b3 !important;
}

#menu- > div.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
    min-width: 150px !important;
    margin-top: 25px;
}
