.widget-properties {
    background-color: #333333;
    font-size: 14px;
    height: 98vh;
    width: 25vh;
    padding: 2vh !important;
    right: 0;
}

.widget-properties.MuiList-root {
    position: fixed !important;
}

.widget-properties .MuiListItem-gutters {
    height: 45px;
}

.widget-properties .MuiFormControl-root {
    margin-left: 5px !important;
}

.widget-properties .MuiInputBase-input {
    color: white !important;
}

.widget-properties .MuiOutlinedInput-input {
    padding: 6px 7px !important;
}

.widget-properties .MuiListSubheader-root {
    color: ghostwhite !important;
    font-size: 20px !important;
}

.property_name {
    width: 80px;
    margin-right: 8px;
    text-align: right;
}

input {
    background-color: #292929 !important;
}

.codelink-button {
    background-color: #242424 !important;
    color: #b3b3b3 !important;
}

#menu- > div.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
    background-color: #565656 !important;
    color: white;
    width: 150px;
    margin-top: 50px;
}
