
.CodeLink-Content {
    background-color: #292929;
    color: #8b8b8b;
}

.CodeLink-bar-menu {
    background-color: #292929;
    border: 1px solid #1c1c1c;
}

.CodeLink-bar-item {
    margin: 0 0.5rem !important;
    width: auto !important;
}

.CodeLink-widget-menu {
    background-color: #292929;
}

.CodeLink-canvas {
    background-color: #212121;
}

.CodeLink-canvas-Box {
    overflow: auto;
    max-height: 900px;
}

::-webkit-scrollbar { width: 8px; height: 6px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: #000;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #646464;}
::-webkit-resizer { background-color: #666;}