
.library-widget {
    text-align: center;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: fit-content;
}

.library-widget.TextButton {
    background-color: #2190d9;
}

.library-widget.Text {
    background-color: lightcoral;
}

.library-widget.TextField {
    background-color: lightcoral;
}

.library-widget.Image {
    background-color: lightpink;
}

.library-widget.empty {
    background: none;
}