
.login-wrapper {
    color: #b3b3b3 !important;
    margin-top: 6rem;
    border-radius: 16px;
    padding: 2rem;
}

.login-header-title {
    background-color: #383838 !important;
    color: #b3b3b3;
    border-radius: 16px;
    text-align: center;
    justify-content: left;
}

.login-content {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    background-color: #8e8e8e !important;
    color: #383838 !important;
    border-radius: 16px;
    margin-top: 2rem !important;
    padding: 2rem;
}

.login-input {
    color: #b3b3b3 !important;
    padding: 0.5rem;
}

.login-button {
    text-align: center;
    background-color: #383838 !important;
    color: #b3b3b3 !important;
    margin-top: 1rem !important;
}

.forgot-password-button {
    text-align: center;
    background-color: #383838 !important;
    color: #b3b3b3 !important;
    margin-top: 1rem !important;
}

.register-box {
    background-color: #383838 !important;
    color: #b3b3b3;
    border-radius: 16px;
    text-align: center !important;
    justify-content: center !important;
    margin-top: 2rem !important;
    padding: 5px !important;
}

.register-button {
    text-align: center;
    background-color: #383838 !important;
    color: #b3b3b3 !important;
}
