
.widget {
    text-align: center;
    padding: 3% 10%;
    border-radius: 5px;
    cursor: pointer;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: black;
}

.widget.TextButton {
    background-color: #2190d9;
}

.widget.Text {
    background-color: lightcoral;
}

.widget.TextField {
    color: rgba(0, 0, 0, 0.4);
}

.widget.Image {
    background-color: lightpink;
}

.widget.empty {
    background: none;
}
