
.widget {
    text-align: center;
    padding: 3% 10%;
    border-radius: 5px;
    cursor: pointer;
    height: fit-content;
    font-size: 15px;
    color: black;
}

.widget.button {
    background-color: #2190d9;
}

.widget.text {
    background-color: lightcoral;
}

.widget.text.field {
    color: rgba(0, 0, 0, 0.4);
}

.widget.image {
    background-color: lightpink;
    padding: 100px;
}

.widget.empty {
    background: none;
}
