
.App-header {
  background-color: #212121;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #8b8b8b;
  flex-flow: column;
}
