
.column {
    background-color: lightsalmon;
}

.row {
    background-color: lightgreen;
}

.center {
    background-color: lightskyblue;
}

.layout {
    height: 100%;
}

.hovered {
    filter: brightness(0.9);
}