.phone-view {
    background-color: white;
    border-radius: 50px;
    height: 812px !important;
    width: 375px !important;
    margin-left: 200px;
    align-content: center;
    overflow: hidden;
}