.new>label {
    cursor: pointer;
}

.new {
    position: absolute;
    width: -webkit-fill-available;
    top: 0px;
}

.MuiList-padding {
    top: 35px;
}

.new>label>img {
    width: 100px;
}

.new>img {
    width: 100px;
    cursor: pointer;
}

.new>input {
    display: none;
}
