.new>label {
    cursor: pointer;
}

.new {
    position: absolute;
    width: 100%;
    top: 0;
}

.new>label>img {
    width: 100px;
}

.new>img {
    width: 100px;
    cursor: pointer;
}

.new>input {
    display: none;
}
