.new>label {
    cursor: pointer;
}

.new {
    position: absolute;
    width: 100%;
    top: 0;
}

.new h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
    margin: 0;
}

.new>label>img {
    width: 100px;
}

.new>img {
    width: 100px;
    cursor: pointer;
}

.new>input {
    display: none;
}

.loader {
    position: absolute;
    left:50%;
    top:50%;
}