.library {
    background-color: #3c414e;
    height: 100%;
    padding: 1vh !important;
    left: 0;
}

.MuiListSubheader-root {
    color: ghostwhite !important;
    font-size: 20px !important;
}

.MuiList-root {
    position: fixed !important;
}