#library {
    background-color: #292929;
    height: 100%;
    padding: 1vh !important;
    left: 0;
}

#library .MuiListSubheader-root {
    color: ghostwhite !important;
    font-size: 20px !important;
}

#library.MuiList-root {
    position: fixed !important;
    top: 35px;
}

#library > li > div {
    color: #8d8d8d;
    font-size: 15px;
    font-weight: 500;
}

.library-Materials {
    overflow: auto;
    max-height: 380px;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
}

.library-Layouts {
    overflow: auto;
    max-height: 380px;
    font-size: 15px;
    font-weight: 500;
}